body{
    background-image: linear-gradient(180deg, blue, red);
}
a {
    text-decoration: none !important
}

.card-border{
border-radius: 2vw;
}
.card-height-p{
    height: 12vw;
}

.description p::before , .description p::after  {
    content: '__________';
    color: white;
    display: inline; 
    
}
.description p{
    font-size: 2vw;
    font-style: italic
} 
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.italic{
    font-style: italic
}
.black-bg{
    background: black;
}
.black-text{
    color: black;
}
.display {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.align-self{
    align-self: center;
}

.font-size{
    font-size: 15px;
}
.gradient{
    background-image: linear-gradient(180deg, blue, green);
}

@media (max-width:768px){
    .description p{
        
        font-style: italic;
        font-size: 12px
    }
    .card-height-p{
        height: fit-content;
    }
    .display {       
        justify-content: start;        
    }
}